---
permalink: /search.html
layout: page
---
<!--Start search form-->

<!--Search result-->
<main class="bg-grey">
    <div class="col-12 align-self-center main-search-form-cover m-auto">
        <p class="text-center font-weight-900"><span class="search-text-bg">Search</span></p>
        <form action="/search.html" method="get">
            <div class="input-group w-100">
                <input type="text" id="search-box" name="query" class="form-control" placeholder="Search articles, projects and many more...">
            </div>
        </form>
    </div>
    <div class="row mt-40 text-center">
        <div class="col-12 font-small suggested-area">
            <h5 class="suggested font-heading mb-20 text-muted"> <strong>Suggested keywords:</strong></h5>
            <ul class="list-inline d-inline-block text">
                {% for cat in site.categories limit: 5 %}
                <li class="list-inline-item"><a href="{{base.url}}category/{{cat[0]}}">#{{cat[0] | upcase}} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-12 align-self-center main-search-form-cover m-auto"></br>
        <ul id="search-results" class="text-center font-weight-bold"></br></br></br></ul>
        </br>
    </div>
</main>
<script>
    window.store = {
        {% for post in site.posts %}
        "{{ post.url | slugify }}": {
            "title": "{{ post.title | xml_escape }}",
            "author": "{{ post.author | xml_escape }}",
            "categories": "{{ post.categories }}",
            "content": {{ post.content | strip_html | strip_newlines | jsonify }},
            "url": "{{ post.url }}"
        }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    };
</script>
