<!-- Footer Start-->
<footer class="bg-white pt-50 pb-20 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="sidebar-widget wow fadeInUp animated mb-30">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Address</h5>
                        <p>Road - 03, Block - E, House - 23/5A</br>
                        Radiant Valley, Rampura, Banasree Project </br>
                        Dhaka - 1219, Bangladesh</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Quick link</h5>
                    </div>
                    <ul class="font-small">
                        <li class="cat-item cat-item-2"><a href="/about.html">About</a></li>
                        <li class="cat-item cat-item-2"><a href="/blog.html">Blog</a></li>
                        <li class="cat-item cat-item-7"><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="sidebar-widget widget_tagcloud wow fadeInUp animated mb-30" data-wow-delay="0.2s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Tagcloud</h5>
                    </div>
                    <div class="tagcloud mt-50">
                        <a class="tag-cloud-link" href="category.html">beautiful</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget_newsletter wow fadeInUp animated mb-30" data-wow-delay="0.3s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Newsletter</h5>
                    </div>
                    <div class="newsletter">
                        <p class="font-medium">Subscribe to our newsletter and get our newest updates right on your
                            inbox.</p>
                        <form class="input-group form-subcriber mt-30 d-flex" action="https://github.us6.list-manage.com/subscribe/post?u=4b811d0c0b429399e9158c27e&amp;id=5bd86e2a02"
                        method="post" name="mc-embedded-subscribe-form" target="/subscription_confirm.html" id="commentForm" novalidate>
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                            <button class="btn bg-primary text-white" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
            <p class="float-md-left font-small text-muted">© 2021, TheWildMonk Projects </p>
            <p class="float-md-right font-small text-muted">
                Design by <a href="https://github.com/TheWildMonk" target="_blank">TheWildMonk</a> | All rights reserved
            </p>
        </div>
    </div>
</footer>
<!-- End Footer -->
<div class="dark-mark"></div>