<div class="scroll-progress primary-bg"></div>
<!-- Start Preloader -->
<div class="preloader text-center">
    <div class="circle"></div>
</div>
<!--Offcanvas sidebar-->
<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">
    <button class="off-canvas-close"><i class="elegant-icon icon_close"></i></button>
</aside>
<!-- Start Header -->
<header class="main-header header-style-1 font-heading">
    <div class="header-top">
        <div class="container">
            <div class="row pt-20 pb-20">
                <div class="col-md-3 col-xs-6">
                    <a href="/"><img class="logo" src="assets/imgs/theme/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky">
        <div class="container align-self-center">
            <div class="mobile_menu d-lg-none d-block"></div>
            <div class="main-nav d-none d-lg-block float-left">
                <nav>
                    <!--Desktop menu-->
                    <ul class="main-menu d-none d-lg-inline font-small">
                        <li>
                            <a href="/"> <i class= "elegant-icon icon_house_alt mr-5"></i> Home</a>
                        </li>
                        <li> <a href="about.html">About</a> </li>
                        <li class= "current-item"> <a href="blog.html">Blog</a> </li>
                        <li><a href="contact.html">Contact</a>
                    </ul>
                    <!--Mobile menu-->
                    <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class= "current-item"><a href="blog.html">Blog</a>
                        <li><a href="contact.html">Contact</a>
                    </ul>
                </nav>
            </div>
            <div class="float-right header-tools text-muted font-small">
                <ul class="header-social-network d-inline-block list-inline mr-15">
                    <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="https://facebook.com/shuvo.nasir.2203"><i
                                class="elegant-icon social_facebook"></i></a></li>
                    <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="https://twitter.com/shuvonasir"><i
                                class="elegant-icon social_twitter "></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<!--Start search form-->
<div class="main-search-form">
    <div class="container">
        <div class=" pt-50 pb-50 ">
            <div class="row mb-20">
                <div class="col-12 align-self-center main-search-form-cover m-auto">
                    <p class="text-center"><span class="search-text-bg">Search</span></p>
                    <form action="#" class="search-header">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="Search stories, places and people">
                            <div class="input-group-append">
                                <button class="btn btn-search bg-white" type="submit">
                                    <i class="elegant-icon icon_search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-80 text-center">
                <div class="col-12 font-small suggested-area">
                    <h5 class="suggested font-heading mb-20 text-muted"> <strong>Suggested keywords:</strong></h5>
                    <ul class="list-inline d-inline-block">
                        <li class="list-inline-item"><a href="category.html">World</a></li>
                        <li class="list-inline-item"><a href="category.html">American</a></li>
                        <li class="list-inline-item"><a href="category.html">Opinion</a></li>
                        <li class="list-inline-item"><a href="category.html">Tech</a></li>
                        <li class="list-inline-item"><a href="category.html">Science</a></li>
                        <li class="list-inline-item"><a href="category.html">Books</a></li>
                        <li class="list-inline-item"><a href="category.html">Travel</a></li>
                        <li class="list-inline-item"><a href="category.html">Business</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-lg-4">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div
                            class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="assets/imgs/news/thumb-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6> <a href="category.html">Travel Tips</a> </h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div
                            class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="assets/imgs/news/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6> <a href="category.html">Lifestyle</a> </h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                        <div
                            class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="assets/imgs/news/thumb-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6> <a href="category.html">Hotel Review</a> </h6>
                            <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>