<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The WildMonk Blog Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="{{post.url}}/assets/css/style.css">
    <link rel="stylesheet" href="{{post.url}}/assets/css/widgets.css">
    <link rel="stylesheet" href="{{post.url}}/assets/css/responsive.css">
</head>