<div class="scroll-progress primary-bg"></div>
<!-- Start Preloader -->
<div class="preloader text-center">
    <div class="circle"></div>
</div>
<!--Offcanvas sidebar-->
<aside id="sidebar-wrapper" class="custom-scrollbar">
</aside>
<!-- Start Header -->
<header class="main-header header-style-1 font-heading">
    <div class="header-top">
        <div class="container">
            <div class="row pt-20 pb-20">
                <div class="col-md-12 col-xs-12 text-center">
                    <a href="/"><img class="logo" src="/assets/imgs/theme/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky">
        <div class="container align-self-center">
            <div class="mobile_menu d-lg-none d-block"></div>
            <div class="main-nav d-none d-lg-block float-left">
                <nav>
                    <!--Desktop menu-->
                    <ul class="main-menu d-none d-lg-inline font-small">
                        <li>
                            <a href="/"> <i class= "elegant-icon icon_house_alt mr-5"></i> Home</a>
                        </li>
                        <li> <a href="/about.html">About</a> </li>
                        <li class= "current-item"> <a href="/blog">Blog</a> </li>
                        <li><a href="/contact.html">Contact</a></li>
                        <li><a href="https://github.com/TheWildMonk" target="_blank">Github</a></li>
                    </ul>
                    <!--Mobile menu-->
                    <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li class= "current-item"><a href="/blog">Blog</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                        <li><a href="https://github.com/TheWildMonk" target="_blank">Github</a></li>
                    </ul>
                </nav>
            </div>
            <div class="float-right header-tools text-muted font-small">
                <button class="search-icon d-none d-md-inline hidden d-inline-block"><span class="mr-15 text-muted font-small tw text-xs-center"><i class="elegant-icon icon_search mr-5"></i>Search</span></button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>