---
layout: default
---
<!--Start search form-->
<div class="main-search-form">
    <div class="container">
        <div class=" pt-50 pb-50 ">
            <div class="row mb-20">
                <div class="col-12 align-self-center main-search-form-cover m-auto">
                    <p class="text-center"><span class="search-text-bg">Search</span></p>
                    <form action="/search.html" method="get" class="search-header">
                        <div class="input-group w-100">
                            <input type="text" id="search-box" name="query" class="form-control" placeholder="Search stories, places and people">
                            <div class="input-group-append">
                                <button class="btn btn-search bg-white" type="submit" value="search">
                                    <i class="elegant-icon icon_search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-80 text-center">
                <div class="col-12 font-small suggested-area">
                    <h5 class="suggested font-heading mb-20 text-muted"> <strong>Suggested keywords:</strong></h5>
                    <ul class="list-inline d-inline-block">
                        {% for cat in site.categories limit: 5 %}
                        <li class="list-inline-item"><a href="{{base.url}}category/{{cat[0]}}">#{{cat[0] | upcase}} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Main content -->
<main>
    <div class="featured-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <p class="text-muted"><span class="typewrite d-inline font-weight-500" data-period="2000"
                            data-type='[ " Python ", "Data Science ", "Statistics ", "Machine Learning", "Artificial Intelligence", "Open CV", "Deep Learning" ]'></span></p>
                    <h2>Hello, I’m <br><span>The WildMonk</span></h2>
                    <h3 class="mb-20"> Welcome to my blog</h3>
                    <h5 class="text-muted">A place where I share about my journey to become a data scientist...</h5>
                </div>
                <div class="col-lg-6 text-right d-none d-lg-block">
                    <img src="assets/imgs/authors/featured.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hot-tags pt-30 pb-30 font-small align-self-center">
            <div class="widget-header-3">
                <div class="row align-self-center">
                    <div class="col-md-4 align-self-center">
                        <h5 class="widget-title">Featured posts</h5>
                    </div>
                    <div class="col-md-8 text-md-right font-small align-self-center">
                        <p class="d-inline-block mr-5 mb-0"><i
                                class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>Hot tags:</p>
                        <ul class="list-inline d-inline-block tags">
                            {% for cat in site.categories limit: 3 %}
                            <li class="list-inline-item"><a href="category/{{cat[0]}}">#{{cat[0]}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="loop-grid mb-30">
            <div class="row">
                {% assign n = site.posts | size %}
                {% assign posts = site.posts | sample: n %}
                {% for post in posts limit: 4 %}
                <article class="col-lg-6 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative"
                            style="background-image: url({{post.image}})">
                            <a class="img-link" href="{{post.url}}"></a>
                        </div>
                        <div class="post-content p-30">
                            <div class="entry-meta meta-0 font-small mb-10">
                                {% for cat in post.categories %}
                                <a href="category/{{cat}}"><span class="post-cat text-info">{{cat}}</span></a>
                                {% endfor %}
                            </div>
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="{{post.url}}">{{post.title}}</a>
                                </h5>
                                <p>{{post.excerpt}}</p>
                                <div class="entry-meta meta-1 float-left font-small text-uppercase">
                                    <span class="post-on">{{post.date | date_to_string}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="bg-grey pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="widget-header-1 position-relative mb-30  wow fadeInUp animated">
                        <h5 class="mt-5 mb-30">Recent Posts</h5>
                    </div>
                    {% for post in site.posts limit: 4 %}
                    <article class="col-md-12 mb-40 wow fadeInUp  animated">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                    {% for cat in post.categories %}
                                    <a href="category/{{cat}}"><span
                                            class="post-cat text-info">{{cat}}</span></a>
                                    {% endfor%}
                                </div>
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-900">
                                        <a href="{{post.url}}">{{post.title}}</a>
                                    </h5>
                                    <div class="post-excerpt mb-25 font-small text-muted">
                                        <p>{{post.excerpt}}</p>
                                    </div>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on">{{post.date | date_to_string}}</span>
                                        <!-- <span class="post-by has-dot">23k views</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    </br>
                    {%endfor%}
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                            <img class="about-author-img mb-25" src="assets/imgs/authors/author.jpg" alt="">
                            <h5 class="mb-20">Hello, I'm TheWildMonk</h5>
                            <p class="font-medium text-muted">
                                Hi, I’m {{page.author}}, a Bangladeshi native, I currently work in Standard Chartered Bank.
                                I am a self taught programmer with a bachelor degree in Electrical & Electronic Engineering.
                                It's confusing, right? 😛
                                YEAH!!! I like to explore and create. And currently, I'm learning DS & ML to become FUTURE PROOF.
                                This blog is just a reflection of what I'm learning right now.
                            </p>
                            <strong>Follow me: </strong>
                            <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                <li class="list-inline-item"><a class="fb" href="https://facebook.com/shuvo.nasir.2203" target="_blank" title="Facebook"><i
                                            class="elegant-icon social_facebook"></i></a></li>
                                <li class="list-inline-item"><a class="tw" href="https://twitter.com/shuvonasir" target="_blank" title="Tweet now"><i
                                            class="elegant-icon social_twitter"></i></a></li>
                            </ul>
                        </div>
                        <!--Categories-->
                        <div class="sidebar-widget widget_categories mb-50 mt-30">   
                            <div class="widget-header-2 position-relative">
                                <h5 class="mt-5 mb-15">Hot topics</h5>
                            </div>
                            <div class="widget_nav_menu">
                                <ul>
                                    {% for cat in site.categories limit: 5 %}
                                    <li class="cat-item cat-item-2"><a href="category/{{cat[0]}}">{{cat[0] | capitalize}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--Latest-->
                        <div class="sidebar-widget widget-latest-posts mb-50">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Don't miss</h5>
                            </div>
                            <div class="post-block-list post-module-1 post-module-5">
                                <ul class="list-post">
                                    <li class="mb-30">
                                        {% assign n = site.posts | size %}
                                        {% assign posts = site.posts | sample: n %}
                                        {% for post in posts limit: 3 %}
                                        <div class="d-flex hover-up-2 transition-normal">
                                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="{{post.url}}">
                                                    <img src="{{post.image}}" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="{{post.url}}">{{post.title}}</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">{{post.date | date_to_string}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        </br>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Social Media-->
                        <div class="sidebar-widget">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Follow Me</h5>
                            </div>
                            <ul class="header-social-network d-inline-block list-inline mr-15">
                                <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="https://facebook.com/shuvo.nasir.2203"><i
                                            class="elegant-icon social_facebook"></i></a></li>
                                <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="https://twitter.com/shuvonasir"><i
                                            class="elegant-icon social_twitter "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Main content -->
