---
layout: default
---
<!-- Start Main content -->
<main>
    <div class="featured-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <p class="text-muted"><span class="typewrite d-inline font-weight-500" data-period="2000"
                            data-type='[ " Python Programmer. ", "Data Science Enthusiast. ", "Statistician. " ]'></span></p>
                    <h2>Hello, I’m <br><span>The WildMonk</span></h2>
                    <h3 class="mb-20"> Welcome to my blog</h3>
                    <h5 class="text-muted">A place where I share about my journey to become a data scientist...</h5>
                </div>
                <div class="col-lg-6 text-right d-none d-lg-block">
                    <img src="assets/imgs/authors/featured.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hot-tags pt-30 pb-30 font-small align-self-center">
            <div class="widget-header-3">
                <div class="row align-self-center">
                    <div class="col-md-4 align-self-center">
                        <h5 class="widget-title">Featured posts</h5>
                    </div>
                    <div class="col-md-8 text-md-right font-small align-self-center">
                        <p class="d-inline-block mr-5 mb-0"><i
                                class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>Hot tags:</p>
                        <ul class="list-inline d-inline-block tags">
                            {% for cat in site.categories limit: 3 %}
                            <li class="list-inline-item"><a href="category/{{cat[0]}}">#{{cat[0]}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="loop-grid mb-30">
            <div class="row">
                {%for post in site.posts limit: 4%}
                <article class="col-lg-6 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative"
                            style="background-image: url({{post.image}})">
                            <a class="img-link" href="{{post.url}}"></a>
                        </div>
                        <div class="post-content p-30">
                            <div class="entry-meta meta-0 font-small mb-10">
                                {% for cat in post.categories %}
                                <a href="category/{{cat}}"><span class="post-cat text-info">{{cat}}</span></a>
                                {% endfor %}
                            </div>
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="{{post.url}}">{{post.title}}</a>
                                </h5>
                                <p>{{post.excerpt}}</p>
                                <div class="entry-meta meta-1 float-left font-small text-uppercase">
                                    <span class="post-on">{{post.date | date_to_string}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="bg-grey pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% for post in site.posts limit: 3 %}
                    <article class="col-md-12 mb-40 wow fadeInUp  animated">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                    {% for cat in post.categories %}
                                    <a href="category/{{cat}}"><span
                                            class="post-cat text-info">{{cat}}</span></a>
                                    {% endfor%}
                                </div>
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-900">
                                        <a href="{{post.url}}">{{post.title}}</a>
                                    </h5>
                                    <div class="post-excerpt mb-25 font-small text-muted">
                                        <p>{{post.excerpt}}</p>
                                    </div>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on">{{post.date | date_to_string}}</span>
                                        <!-- <span class="post-by has-dot">23k views</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    </br>
                    {%endfor%}
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div
                            class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                            <img class="about-author-img mb-25" src="assets/imgs/authors/author.jpg" alt="">
                            <h5 class="mb-20">Hello, I'm {{page.author}}</h5>
                            <p class="font-medium text-muted">
                                Hi, I’m {{page.author}}, a Bangladeshi native, I currently work in Standard Chartered Bank.
                                I am a self taught programmer with a bachelor degree in Electrical & Electronic Engineering.
                                It's confusing, right? 😛
                                YEAH!!! I like to explore and create. And currently, I'm learning DS & ML to become FUTURE PROOF.
                                This blog is just a reflection of what I'm learning right now.
                            </p>
                            <strong>Follow me: </strong>
                            <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                <li class="list-inline-item"><a class="fb" href="https://facebook.com/shuvo.nasir.2203" target="_blank" title="Facebook"><i
                                            class="elegant-icon social_facebook"></i></a></li>
                                <li class="list-inline-item"><a class="tw" href="https://twitter.com/shuvonasir" target="_blank" title="Tweet now"><i
                                            class="elegant-icon social_twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Main content -->
